@import url(../styles/normalize.css);
@import url(../styles/header.css);
@import url(../styles/cards.css);
@import url(../styles/footer.css);

*{
    box-sizing: border-box;
}

body{
    font-family: 'Gilroy', Arial, sans-serif;
}

.wrapper{
    width: 1332px;
    margin-left: auto;
    margin-right: auto;
    
}

p{
    margin: 0;
}

h2{
    margin: 0;
}

h3{
    margin: 0;
}